$font-size: 20px;
$button-background-color: rgb(31, 217, 242);
$button-font-color: white;
$text-font-color: rgb(183, 210, 31);

.hello-world-button{
    font-size: 20;
    padding: 7px 15px;
    background: $button-background-color;
    color: $button-font-color;
    outline: none;
}

.hello-world-text{
    color: $text-font-color;
    font-weight: bold;
}